@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #76bdff);
    }

    main {
        width: 85vw;
        height: 300px;
    }

    section#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #76bdff);
    }

    main {
        width: 950px;
        height: 450px;
    }

    section#imagem {
        float: right;
        width: 40%;
        height: 100%;
    }

    section#formulario {
        float: left;
        width: 60%;
        padding: 30px;
    }

    section#formulario h1 {
        font-size: 2em;
    }

    section#formulario p {
        font-size: 1em;
        margin-bottom: 20px;
    }
}