@charset "UTF-8";

/*
    Paleta:
    Verde: #49a09d
    Azul:  #76bdff
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #a8d5ff;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75vw;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

section#imagem {
    background: #76bdff url(../img/imagem1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

section#formulario {
    padding: 15px;
}

section#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#formulario p {
    font-size: 0.8em;
    margin-bottom: 15px;
}

form div.campo {
    display: flex;
    align-items: center;

    background-color: #76bdff;
    border: 2px solid #76bdff;
    height: 40px;
    border-radius: 5px;
    margin: 8px 0;
    overflow: hidden;
}

div.campo span {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: #214948;
    width: 40px;
    height: 100%;
    font-size: 1.6em;
}

div.campo input {
    flex: 1;
    height: 100%;
    border: none;
    padding: 0 10px;
    font-size: 1em;
    outline: none;
}

form input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 10px;

    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
}

form input[type=submit]:hover {
    background-color: #214948;
}

form a.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    margin-top: 5px;
    width: 100%;
    height: 40px;

    border: 1px solid #49a09d;
    border-radius: 6px;
    text-decoration: none;
    color: #214948;
    font-size: 1em;
}

form a.botao:hover {
    background-color: #6ae6e1;
}